* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;

}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* padding: 5vw 0; */
}

#coverimg {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

#coverimg img {
    height: 30vw;
    width: 30vw;
    object-fit: cover;
    border-radius: 50%;
}

#right {
    width: 65vw;
    height: 100%;
    /* background-color: powderblue; */
}

#left {
    width: 35vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: palegoldenrod; */
}

#left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#title {
    font-size: 5vw;
    padding: 20vh 4vw 0;
}

#right h4 {
    padding: .7rem 5rem;
    font-size: 1.3vw;
}

#allsongs h3 {
    padding: 1vw 2vw;
    color: rgb(204, 71, 71);
}

#part1 {
    /* background-color: powderblue; */
    display: flex;
    align-items: center;
}

#part1 p {
    font-size: 20px;
    margin-left: 10px;
}

#part1 img {
    height: 65px;
    width: 65px;
    margin-left: 30px;
    object-fit: cover;
    /* border-radius: 20px; */
}

#songcard {
    padding: .6vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* background-color: rebeccapurple; */
}

#songcard h6 {
    font-size: 15px;
    margin-right: 15px;
}

#songcard:hover {
    background-color: rgba(26, 26, 26, 0.174);
    /* border-radius: 10px; */
    /* border-top: 2px dashed black; */
    /* border-bottom: 2px dashed black; */
}

#songname {
    margin-left: 2vw;
}

#songname h2 {
    font-size: 1.6vw;
}

#songname h4 {
    /* background-color: aqua; */
    padding: 0;
    font-size: 13px;
    color: rgba(76, 76, 76, 0.95);
}

#player {
    width: 80%;
    /* height: 30px; */
    /* background-color: powderblue; */
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

#player>h3 {
    color: black;
    font-size:
        30px;
    /* background-color: red; */
    padding: 0;
}

#player>h3:active {
    scale: 1.10;
}

#coverimg img {
    animation: spin 10s linear infinite;
    animation-play-state: paused;
}

#coverimg.playing img {
    animation-play-state: running;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#nav {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    gap: 1.5vw;
}

#nav a {
    color: black;
    font-size: 30px;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

#nav a:hover {
    transform: scale(1.2);
    color: rgb(204, 71, 71);
}

@media (max-width:600px) {
    #coverimg {
        position: absolute;
        top: 0%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
    }

    #coverimg img {
        height: 24vh;
        width: 24vh;
        object-fit: cover;
        border-radius: 50%;
    }

    #main {
        min-height: 100vh;
        width: 100vw;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        /* padding: 5vw 0; */
    }

    #left {
        height: 45%;
        width: 100%;
        overflow: hidden;
        /* background-color: palegoldenrod; */
    }

    #left img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        object-fit: cover;
    }

    .rotate {
        width: 100%;
        transform: rotate(90deg);
        transform-origin: center;
    }

    #nav {
        display: none;
    }

    #right {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: powderblue; */
        align-items: center;
    }

    #title {
        font-size: 9vw;
        padding: 2vh 4vw;
    }

    #right h4 {
        padding: 0;
        font-size: 3vw;
    }

    #allsongs h3 {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: rgb(204, 71, 71);
    }

    #allsongs {
        width: 100%;
    }

    #songcard {
        padding: 0 10vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* background-color: rebeccapurple; */
    }

    #songname h2 {
        font-size: 4vw;
    }

    #songname h4 {
        /* background-color: aqua; */
        padding: 0;
        font-size: 12px;
        color: rgba(76, 76, 76, 0.95);
    }

    #player {
        width: 100%;
        /* height: 30px; */
        /* background-color: powderblue; */
        margin-top: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10vw;
    }

    #player>h3 {
        color: black;
        font-size: 35px;
        /* background-color: red; */
        padding: 0;
    }

    #part1 {
        /* background-color: powderblue; */
        display: flex;
        align-items: center;
        margin-top: 18px;
    }

    #part1 img {
        height: 60px;
        width: 60px;
        margin-left: 20px;
        object-fit: cover;
        border-radius: 7px;
        /* border-radius: 20px; */
    }

    #part1 p {
        font-size: 17px;
        margin-left: 0px;
    }

    #songcard h6 {
        font-size: 12px;
    }
}